.main {
    /* grid-area: 2; */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    }

.hat {
    background-image: url(https://wallpaperaccess.com/full/4226177.jpg);
    background-size: cover;
}

.ava {
    width: 10rem;
    height: 10rem;
    border-radius: 0 45% 0 45%;
}