.App-wrapper {
  /* text-align: center; */
  display: grid;
  grid-template: 10% 1fr / 20% 1fr;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}



/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
